<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>カート確認 - モバおる</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/users_order.css') }}">
</head>
<body>

    <header class="main-header">
        <div class="store-name">モバおる - {{ store_name }}</div>
        <div class="user-info">
            <span>{{ u_name if u_name else "ゲスト" }}</span>
        </div>
    </header>

    <div class="sub-header">
        <a href="{{ url_for('users_order.menu', store_id=store_id) }}">戻る</a>
        <a href="">レジに進む</a>
    </div>

    <main class="container">
        <div class="cart-list">
            {% if cart %}
            <ul>
                {% for item in cart %}
                    <li class="cart-item">
                        <div class="cart-item-details">
                            <span>{{ item.name }}</span>
                            <span>{{ item.category }}</span>
                            <span>数量: {{ item.quantity }}</span>
                        </div>
                        <div class="cart-item-price">
                            {{ item.price * item.quantity }}円
                        </div>
                    </li>
                {% endfor %}
                </ul>
                
            {% else %}
                <p>カートは空です。</p>
            {% endif %}
        </div>
    
        <div class="cart-total">
            {{ total_quantity }}点 合計 {{ total_price }}円
        </div>
    </main>
    

</body>
</html>
