<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>お支払い方法の選択</title>
    </head>
<body>
    <h1>ご注文内容の最終確認</h1>
    <h2>{{ store_name }}</h2>

    <h3>ご注文商品</h3>
    <ul>
        {% for item in cart %}
            <li>{{ item.name }} x {{ item.quantity }} ... {{ item.price * item.quantity }}円</li>
        {% endfor %}
    </ul>
    <hr>
    <h3>お支払い合計: <strong>{{ total_price }}円</strong></h3>

    <hr>

    <h3>お支払い方法</h3>
    <div>
        <p>PayPay</p>
        </div>

    <form action="{{ url_for('users_order.create_order') }}" method="POST">
        <p>上記の内容でよろしければ、注文を確定してください。</p>
        <button type="submit">この内容で注文を確定する</button>
    </form>

    <br>
    <a href="{{ url_for('users_order.cart_confirmation') }}">カートに戻る</a>
</body>
</html>