<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>パスワードの再発行</title>
</head>
<body>
    <div class="container">
        <h1>パスワードの再発行</h1>
        <form action="{{ url_for('users_login.password_input') }}" method="post" class="password-input-form">
            <p>新しいパスワードを入力してください</p>
            <label for="new_password">新しいパスワード</label>
            <input type="password" id="new_password" name="new_password" required><br>
            <label for="password2">パスワード確認</label>
            <input type="password" id="password2" name="password2" required>
            <div class="button-area">
                <button type="submit">送信</button><br>
                <a href="{{ url_for('users_login.re_enrollment') }}" class="back-link">戻る</a>
            </div>
        </form>
    </div>
    
</body>
</html>