<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
    <meta charset="UTF-8">
    <title>店舗情報確認</title>
</head>
<body>
    <h1>入力内容の確認</h1>

    <p>店舗ID: {{ store.store_id }}</p>
    <p>店舗名: {{ store.store_name }}</p>
    <p>メールアドレス: {{ store.email }}</p>
    <p>パスワード: {{ store.password }}</p>
    <p>所在地: {{ store.location }}</p>
    <p>代表者名: {{ store.representative }}</p>
    <p>営業時間: {{ store.time }}</p>

    
    
</body>
</html>
